@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #00a2c6;
}

a:link {
    color: lightblue;
}

a:visited {
    color: white;
}

a:hover {
    color: pink;
}

a:active {
    color: orangered;
}

nav a {
    font-size: 18px;
    font-weight: 400px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

nav li {
    display: inline;
    light-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}
.jumbroton {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

tr:hover {
    background-color: #FDFD96;
}

header {
    display: inline;
}

h2, p {
    text-align: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
